<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta nome="viewport" content="width=device-width, initial-scale=1,0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styleLista.css">
    <title>Home Colaborador</title>
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <div>            
                <a href="/listarHome" class="navbar-brand">Classroom</a>
                <a href="/cadastroAluno" class="nav-aluno navbar-brand">Cadastro Aluno</a>
                <a href="/cadastroProfessor" class="nav-prof navbar-brand">Cadastro Professor</a>
            </div>
            <form action="/sair" method="post" class="d-flex" role="search">
                <button type="submit" class="btn btn-outline-danger">Sair</button>
            </form>
        </div>
    </nav>
    <div class="geral">
        <% if (typeof menssagem !== 'undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= menssagem %> 
            </div>
        <% } %>
        <h1 class="title">Alunos</h1>
        <form action="/listarAluno" method="post">
            <div class="home">
                <div class="form">
                    <label for="exampleFormControlInput1" class="form-label">RA (Número da Matrícula)</label>
                    <input type="ra" class="form-control" id="exampleFormControlInput1" placeholder="Digite o RA" name="raAluno" required></inpinput>
                </div>
                <div class="button-enviar">
                    <button class="btn-enviar btn btn-outline-secondary" type="submit">Consultar</button>
                </div>
            </div>    
            <div class="table-dados">
                <table class="table table-bordered" >
                    <tr>
                        <th>   NOME  </th>
                        <th>   RA   </th>
                        <th>  TURMA  </th>
                    </tr>
                    <form action="/telaUpdate" method="post">   
                    <% listaAluno.forEach(function(listaAluno){ %>
                            <tr>   
                                <td><input type="hidden" name="upNome" value="<%= listaAluno.nome %>"><%= listaAluno.nome %></td>
                                <td><input type="hidden" name="upRa" value="<%= listaAluno.RA %>"><%= listaAluno.RA %></td>
                                <td><input type="hidden" name="lTurma" value="<%= listaAluno.turma_aluno %>"><%= listaAluno.turma_aluno %></td>
                                <td><button class="btn-enviar btn btn-outline-secondary" type="submit">Alterar</button></td>   
                            </tr>    
                    <% }); %>
                    </form>     
                </table>
            </div>
        </form>    
    </div>
    <div class="geral">
        <h1 class="title">Professores</h1>
        <form action="/listarProf" method="post">
        <div class="home">
            <div class="form">
                <label for="exampleFormControlInput1" class="form-label">RA (Número da Matrícula)</label>
                <input type="ra" class="form-control" id="exampleFormControlInput1" placeholder="Digite o RA" name="raProf"required></inpinput>
            </div>
            <div class="button-enviar">
                <button class="btn-enviar btn btn-outline-secondary" type="submit">Consultar</button>
            </div>
        </div>
        <div class="table-dados">
            <table class="table table-bordered" >
                <tr>
                    <th>NOME</th>
                    <th>RA</th>
                </tr>
                <% listaProf.forEach(function(listaProf){ %>
                    <tr>   
                        <td><%= listaProf.nome %></td>
                        <td><%= listaProf.RA %></td> 
                    </tr>
                <% }); %>  
            </table>
        </div>
        </form>
    </div>
</body>